@import url('https://fonts.googleapis.com/css?family=Hind:500|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Bevan');
/* UNIVERSAL */


.whitehero{
  height:50px;
  background-color: #000;
}

#hero {
  background-image: url('../images/hero1.jpg');
  /*background-size: 100% 100%;
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-attachment: fixed;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 700px) {
  #hero {
    height:auto;
  }
}


#hero .center{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  #hero .center {
    margin-top:0;
  }
}

.review-container{
  padding: 10px 15px;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 4px;
}

.review-container h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 6em;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}

@media screen and (max-width: 700px) {
  .review-container h1 {
    font-size: 4em;
  }
}

.white-text {
  color: #fff;
}


.nav li a:hover {
  background-color: transparent;
}
.navbar-default {
   background-color: transparent;
   border-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #000;
}
.navbar-default .navbar-nav>li>a {
  color: #FCFCFC;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.navbar-default .navbar-nav  li  a:hover,
.navbar-default .navbar-nav  li  a:focus {
    color: #F8512F;
    background-color: rgba(17, 17, 17, .2);
}
nav.navbar {
  position: fixed;
  top: 100;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-brand>img {
  margin-top: -7px;
}

.min-height {
  height: 400px;
}
/*resedential panel */

#flip1 {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border: none;
}

#panel1 {
    padding: 50px;
    text-align: left;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

#panel1 {
    padding: 25px;
    display: none;
}

#flip2 {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border: none;
}

#panel2 {
    padding: 50px;
    text-align: left;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

#panel2 {
    padding: 25px;
    display: none;
}

#flip3 {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border: none;
}

#panel3 {
    padding: 50px;
    text-align: left;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

#panel3 {
    padding: 25px;
    display: none;
}


#mpanel1 {
    padding: 50px;
    text-align: left;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

#mpanel1 {
    padding: 25px;
    display: none;
}

#mpanel2 {
    padding: 50px;
    text-align: left;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

#mpanel2 {
    padding: 25px;
    display: none;
}

#mpanel3 {
    padding: 50px;
    text-align: left;
    background-color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    color: #fff;
}

#mpanel3 {
    padding: 25px;
    display: none;
}


/* begin this is our story */

.qualityworktext{
  font-size: 2.8em;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
}

.icon-text{

}

.ourstory{
  padding-top: 100px;
  background-color: #484848;
  color: #fff;

}

.ourstoryparagraph{
  height: 275px;
  font-size: 20px;
  margin-top: 40px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.9;
}


.qualitywork{
  width: 8em;
  border-top: 1px solid #fff;
  margin-top: 40px;
  background-color: #484848;
  color: #000;
}

.qualitywork1{
  width: 8em;
  border-top: 1px solid #000;
  margin-top: 40px;
  background-color: #484848;
  color: #000;
}

.qualitywork2{
  width: 8em;
  border-top: 1px solid #000;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: #484848;
  color: #111;
}


.whatwedo{
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 699px){
  .whatwedo{
    padding-bottom: 25px;
  }
}

.what-we-do{
  margin-top: 40px;
}

.zoom{
  transition: transform .3s;
}

.zoom:hover{
  -ms-transform: scale(2.0); /* IE 9 */
  -webkit-transform: scale(2.0); /* Safari 3-8 */
  transform: scale(2.0);
}


.mobile-what-we-do{
  background-color: #000;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  border: solid 1px #fff;
  border-radius: 10px;
}

.no-icon{
  padding-bottom: 50px;
}

@media screen and (min-width: 700px) {
  .no-icon{
    display: none;
  }

}


@media screen and (max-width: 699px) {
  .icon{
    display: none;
  }

  .whatwedo{

  }
}

.resbut{
  text-decoration: none;
}


.photoalbum{
  margin-top: 60px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }

  .lookatourwork{
    font-size: 2.8em;
    letter-spacing: 0.2em;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .bg-grey{
    background-color: #f5f5f5;
  }

.black{
  color: #000;
}


/* Add an orange color to all icons and set the font-size */
.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.contact {
  color: #fff;
}

.footer{
  color: #fff;
  background-color: #111;
}

.list-unstyled{
  color: #fff;
}
